body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #662D8C, #ED1E79);
    color: white;
    text-align: center;
}

.logo {
    width: 130px;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.container {
    margin-top: 20px;
}

.btn {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    background: white;
    color: black;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.tips-link {
    display: block;
    margin-top: 25px;
    color: #FFEB3B;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
