body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid black;
}

a {
    font-size: 20px;
}